<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        {{yield}}
        <img src="" id="imagepreview" style="width: 567px; height: auto;" >
      </div>
      <div class="modal-footer">
        <button type="button" class="mybutton" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
