<div class="navigation navbar-brand visible-sm visible-md visible-lg" style="text-align: center;">
	<!-- Navigation -->
	<div class="center" style="width: 950px;">
		<div class="navbar-header">
			<a href="#" class="home-icon block links"><img src="img/brand.png"/></a>
		</div>
		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div id="topnavdiv" class="collapse navbar-collapse">
				<ul id="topnav" class="nav navbar-nav">
					<li class="navbar-button">
						<a href="#">首頁</a>
					</li>
					<li class="dropdown navbar-button">
						<a href="#aboutus">關於我們</a>
						<ul class="dropdown-menu navbar-button">
							<li class="navbar-button">
								<a href="#missiondeclaration">使命宣言</a>
							</li>
							<li class="navbar-button">
								<a href="#faithdeclaration">信仰宣言</a>
							</li>
							<li class="navbar-button">
								<a href="#history">發展歷史</a>
							</li>
							<li class="navbar-button">
								<a href="#orgchart">組織架構</a>
							</li>
							<li class="navbar-button">
								<a href="#budget">財政報告</a>
							</li>
						</ul>
					</li>
					<li class="dropdown navbar-button">
						<a href="#products">音樂產品</a>
					</li>
					<li class="navbar-button">
						<a href="#supportus">你的支持</a>
					</li>
					<li class="navbar-button">
						<a href="#gallery">相片重溫</a>
					</li>
					<li class="navbar-button">
						<a href="#news">最新動向</a>
					</li>
					<li class="navbar-button">
						<a href="#contactus">聯絡我們</a>
					</li>

				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	</div>
</div>
		
	<!-- /.container -->
	<div class="visible-xs">
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div>
				<button type="button" class="sidebar-toggle navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="sidebar-brand">
						<a href="#">
						   ACMLA
						</a>
					</li>
					<li>
						<a href="#">首頁</a>
					</li>
					<li>
						<a href="#aboutus" class="dropdown-toggle" data-toggle="dropdown">關於我們</a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="#missiondeclaration">使命宣言</a>
							</li>
							<li>
								<a href="#faithdeclaration">信仰宣言</a>
							</li>
							<li>
								<a href="#history">發展歷史</a>
							</li>
							<li>
								<a href="#orgchart">組織架構</a>
							</li>
							<li>
								<a href="#budget">財政報告</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#products">音樂產品</a>
					</li>
					<li>
						<a href="#supportus">你的支持</a>
					</li>
					<li>
						<a href="#gallery">相片重溫</a>
					</li>
					<li>
						<a href="#news">最新動向</a>
					</li>
					<li>
						<a href="#contactus">聯絡我們</a>
					</li>

				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
		<!-- /.container -->
	</div>
<script src="js/nav.js"></script>
