{{yield}}

<div class="center" style="width: 1000px;">
	<div class="left">
		<img src="img/mission.png" style="width:352px;height:250px;"/>
	</div>
	<div class="slides_container">
	</div>
	<div id="slides">
		<img src="img/sf_tour.jpeg" width="648" height="250"/>
	</div>
</div>

<div style="width:70%;" class="divider block center">
</div>
