{{yield}}

<div class="center" style="width: 1000px;">
	<div class="left">
		<img src="img/mission.png" style="width:352px;height:250px;"/>
	</div>
	<img src="img/sf_tour.jpeg" style="width:648px;height:250px;"/>
</div>

<div style="width:70%;" class="divider block center">
</div>
