<!--link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
<link rel="stylesheet" href="{{rootURL}}css/blueimp-gallery.min.css">
<link rel="stylesheet" href="{{rootURL}}css/bootstrap-image-gallery.min.css">

<div id="gallery">
    <div class="text" style="width:80%;display:inline; float: left; margin-top:50px; margin-left:50px;">
		<p class="header">相片重溫</p>
	</div>
	<div class="wide text-center">
		{{gallery-component}}
		{{outlet}}
	</div>
</div>
<!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script-->
<script src="js/bootstrap-image-gallery.min.js"></script>
