<div id="donate-return"> 
   <div class="text" style="width:80%;display:inline; float: left; margin-top:50px; margin-left:50px;">
		<p class="header">你的支持</p>
感謝您對ACMLA的支持！您將會在電郵中收到是次奉獻的收據。
	</div>

</div>