<div id="donate">
     <div class="text" style="width:80%;display:inline; float: left; margin-top:50px; margin-left:50px;">
		<p class="header">你的支持</p>
		<p>ACMLA的巡迴事奉、音樂器材需要、及辦工室運作都需要您實際的支持與代禱。您在各方面的支持，就等同您們與ACMLA在北美音樂宣教事工上一起同工。您的支持能使我們的事工不斷拓展，將福音傳揚給更多華人認識。</p>
		<br>
		<p>奉獻方法</p>
		<ol>
		<li>網上奉獻 <img src="img/paypal.png" border="0" imgwidth="100" alt="PayPal Logo"/><br><Br>
		<a href="https://www.paypal.com/us/fundraiser/charity/2081210">
			<img src="img/DonateButton.png" border="0" style="width:200px" alt="Donate button"/>		
		</a>
		<Br>
		<small>
			如用網上奉獻，捐款者會立即收到電子收據。<br>如一次過獻金在US$250以下，根據美國聯邦稅務局指引，本會不需要另發郵寄收據。
		</small>
		<br>		
		<br>
		</li>
		<li>支票奉獻 <br>
		支票抬頭請寫「ACMLA」，請在支票上註明奉獻用途(日常開支／巡迴佈道／員工薪金)，並郵寄至：<br><br>

	ACMLA<br>
	5632 Rosemead Blvd.<br>
	Temple City, CA 91780<br>
		<Br>
		</li>		
		</ol>
	   
  &nbsp;&nbsp;* 資金之調派及運用，ACMLA保留最後權定使用權。<br>
  &nbsp;** 申報稅項之收據將於每年財政年度完畢後寄出。<br>
  *** 所有透過網站、登記表格及其他途徑收集所得的個人資料，只限於處理獻金及機構營運等特定用途上。在未與捐款人士達成共識的情況下，本會不會向第三者提供其個人資料。<br>
	
	</div>
</div>
