<div id="supportus">
    <div class="text" style="width:80%;display:inline;  margin-top:50px; margin-left:50px;">
		<p class="header">你的支持</p>
	</div>
	
	<div class="wide">
	<p></p>
		<div class="center">	ACMLA的巡迴事奉、音樂器材需要、及辦工室運作都需要您實際的支持與代禱。您在各方面的支持，就等同您們與ACMLA在北美音樂宣教事工上一起同工。您的支持能使我們的事工不斷拓展，將福音傳揚給更多華人認識。
		<h4><b>奉獻方法</b></h4>
		<ol>
		<li>網上奉獻 <img src="img/paypal.png" border="0" alt="PayPal Logo"/>
			<ol type=a><li>請按以下按鈕到PayPal進行奉獻程序。</li>
				<li>在第一頁填寫奉獻金額時，可選擇一次過奉獻或按月定期奉獻。</li>
				<li>若你沒有PayPal帳戶，可選擇直接以信用咭奉獻。</li>
			</ol>
			<br>
					
			<form name="myForm"	action="https://www.paypal.com/cgi-bin/webscr" 
			onsubmit="if(document.forms['myForm']['on0'].value == '') {alert('請填寫郵寄地址'); return false;} if(document.forms['myForm']['os0'].value == '') {alert('請選擇奉獻用途'); return false;}" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="B2DW8EDUBS3KG">		
			郵寄地址 (用作申報稅項之收據):<br>
			<textarea name="on0" rows="2" cols="40" class="pp-textarea"></textarea><br>	
			<select name="os0" style="margin: 0px 0px 11px 0px;">
			<option selected value="">請選擇奉獻用途:</option>
			<option value="General">1. 支持機構日常開支</option>
			<option value="Tour">2. 支持巡迴北美備道事工</option>
			<option value="Salary">3. 支持ACMLA同工薪金</option>
			</select>
			<br>
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" 
			
			name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">			
			</form>
			<br>
		</li>
		<li>支票奉獻 <br>
		支票抬頭請寫「ACMLA」，請在支票上註明奉獻用途(請參上)，並郵寄至：<br><br>

	ACMLA<br>
	5632 Rosemead Blvd.<br>
	Temple City, CA 91780<br>
		<Br>
		</li>
		<li>現金<br>
		請致電本會626-737-9025先作通知，然後可親臨本會上述地址作奉獻，當值負責人會即時
	發出收條以證明已收現金奉獻。請勿郵寄現金。
		</li>
		</ol>
		
		<table>
		<tr>
		<td align=right valign=top>*&nbsp;</td><td>資金之調派及運用，ACMLA保留最後權定使用權。</td>
		</tr>
		<tr>
		<td align=right valign=top>**&nbsp;</td><td>所有透過網站、登記表格及其他途徑收集所得的個人資料，只限於處理獻金及機構營運</td>
		</tr>
		<tr>
		<td align=right valign=top>***&nbsp;</td><td>等特定用途上。在未與捐款人士達成共識的情況下，本會不會向第三者提供其個人資料。</td>
		</tr>
		</table>
		</div>
	</div>
</div>
