<!--link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
<link rel="stylesheet" href="{{rootURL}}css/blueimp-gallery.min.css">
<link rel="stylesheet" href="{{rootURL}}css/bootstrap-image-gallery.min.css">
<style>
 
  #borderimg {	 
	border-style: solid;      
	-moz-border-image: url(img/frame.png)20 repeat;
	-webkit-border-image: url(img/frame.png) 20 repeat;	
	-o-border-image: url(img/frame.png) 20 repeat;
	border-top-width: 20px;
	border-bottom-width: 27px;
	border-left-width: 16px;
	border-right-width: 16px;
	border-image-slice: 41 10 56 16; 
	border-image-source:  url(img/frame.png);	
	border-image-repeat: repeat;
  }
  #acmImages{
    text-align:center;
    margin:50px auto;
  }
  #acmImages a{
    margin:20px 10px;
    display:inline-block;
    text-decoration:none;
    color:black;
  }

</style>

	
<div id="gallery">
    <div class="text" style="width:80%;display:inline; float: left; margin-top:50px; margin-left:50px;">
	<p class="header">相片重溫</p>	
	</div>
	<Br>
	<div>
		<div id="acmImages">
			{{#link-to "album1"}}
				<img id="borderimg" src="img/gallery/洛杉磯國語浸信會 2014 (全是祢的)/thumbnails/DSC09490.jpg"  height="150" alt="DSC09490.JPG"/>						
				<div class="caption">洛杉磯國語浸信會 2014<br>(全是祢的)</div>
			{{/link-to}}	
				
			{{#link-to "album2"}}							                                        
				<img id="borderimg" src="img/gallery/鑽石崗羅省基督教會 2014 (全是祢的)/thumbnails/IMG_0489.JPG"  height="150" alt="IMG_0489.JPG" />				
				<div class="caption">鑽石崗羅省基督教會 2014<br>(全是祢的)</div>
			{{/link-to}}
			
			{{#link-to "album3"}}			
				<img id="borderimg" src="img/gallery/聖地亞哥主恩堂 2016 (牧我一生)/thumbnails/ACMLA 10-8-2016 (57).JPG" height="150" alt="ACMLA 10-8-2016 (57).JPG"/>	
				<div class="caption">聖地亞哥主恩堂 2016<br>(牧我一生)</div>
			{{/link-to}}				

			{{#link-to "album4"}}
				<img id="borderimg"  src="img/gallery/聖地雅歌華人傳道會 2016 (齊唱金曲夜)/thumbnails/ACMLA 10-9-2016 (302).JPG" height="150" alt="ACMLA 10-9-2016 (302).JPG"/>	
				<div class="caption">聖地雅歌華人傳道會 2016<br>(齊唱金曲夜)</div>
			{{/link-to}}	

			{{#link-to "album5"}}	
				<img id="borderimg"  src="img/gallery/羅省華人宣道會 2017 (牧我一生)/thumbnails/20171022_215656.jpg" height="150" alt="20171022_215656.jpg"/>	
				<div class="caption">羅省華人宣道會 2017<br>(牧我一生)</div>
			{{/link-to}}	

			{{#link-to "album6"}}	
				<img id="borderimg"  src="img/gallery/羅省聖經宣道會 2017 (牧我一生)/thumbnails/IMG_8045.jpg" height="150" alt="IMG_8045.jpg"/>	
				<div class="caption">羅省聖經宣道會 2017<br>(牧我一生)</div>
			{{/link-to}}				
			
			{{#link-to "album7"}}	
				<img id="borderimg"  src="img/gallery/溫哥華華人播道會 2017 (牧我一生)/thumbnails/20171007_185830.jpg" height="150" alt="20171007_185830.jpg"/>	
				<div class="caption">溫哥華華人播道會 2017<br>(牧我一生)</div>
			{{/link-to}}	
			
			{{#link-to "album8"}}	
				<img id="borderimg"  src="img/gallery/慕迪港頌恩堂 2017 (牧我一生)/thumbnails/20171006_220603.jpg" height="150" alt="20171006_220603.jpg"/>	
				<div class="caption">慕迪港頌恩堂 2017<br>(牧我一生)</div>
			{{/link-to}}	
			
			{{#link-to "album9"}}	
				<img id="borderimg"  src="img/gallery/宣道會活石堂 2017 (牧我一生)/thumbnails/IMG_8359.jpg" height="150" alt="IMG_8359.jpg"/>	
				<div class="caption">宣道會活石堂 2017<br>(牧我一生)</div>
			{{/link-to}}	
			
			{{#link-to "album10"}}	
				<img id="borderimg"  src="img/gallery/亞凱廸亞羅省基督教會 2017 (齊唱金曲夜)/thumbnails/DSC00651.jpg" height="150" alt="DSC00651.jpg"/>	
				<div class="caption">亞凱廸亞羅省基督教會 2017<br>(齊唱金曲夜)</div>
			{{/link-to}}	
			
			{{#link-to "album11"}}	
				<img id="borderimg"  src="img/gallery/Chown Memorial & United Church 2017 (牧我一生)/thumbnails/20171008_192055.jpg" height="150" alt="20171008_192055.jpg"/>	
				<div class="caption">Chown Memorial & United Church 2017<br>(牧我一生)</div>
			{{/link-to}}	
			
		</div>		
	</div>
</div>
<!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script-->
<script src="js/bootstrap-image-gallery.min.js"></script>
