<!--link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
<link rel="stylesheet" href="css/blueimp-gallery.min.css">
<link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
<div id="gallery">
    <div class="text" style="width:80%;display:inline; float: left; margin-top:50px; margin-left:50px;">
		<p class="header">相片重溫</p>
	</div>
	<div class="wide text-center">
		<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
		<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
			<!-- The container for the modal slides -->
			<div class="slides"></div>
			<!-- Controls for the borderless lightbox -->
			<h3 class="title"></h3>
			<a class="prev">‹</a>
			<a class="next">›</a>
			<a class="close">×</a>
			<a class="play-pause"></a>
			<ol class="indicator"></ol>
			<!-- The modal dialog, which will be used to wrap the lightbox content -->
			<div class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" aria-hidden="true">&times;</button>
							<h4 class="modal-title"></h4>
						</div>
						<div class="modal-body next"></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left prev">
								<i class="glyphicon glyphicon-chevron-left"></i>
								Previous
							</button>
							<button type="button" class="btn btn-primary next">
								Next
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="links">
			<div>
						<a href="img/gallery/2014 slides/slide-01.JPG" title="slide-01.JPG" data-gallery>
						<div><img src="img/gallery/2014 slides/thumbnails/slide-01.JPG" alt="slide-01.JPG" class="img-responsive"></div>			</a>			<a href="img/gallery/2014 slides/slide-02.JPG" title="slide-02.JPG" data-gallery>				<div><img src="img/gallery/2014 slides/thumbnails/slide-02.JPG" alt="slide-02.JPG" class="img-responsive"></div>			</a>			<a href="img/gallery/2014 slides/slide-03.JPG" title="slide-03.JPG" data-gallery>				<div><img src="img/gallery/2014 slides/thumbnails/slide-03.JPG" alt="slide-03.JPG" class="img-responsive"></div>			</a>			<a href="img/gallery/2014 slides/slide-04.JPG" title="slide-04.JPG" data-gallery>				<div><img src="img/gallery/2014 slides/thumbnails/slide-04.JPG" alt="slide-04.JPG" class="img-responsive"></div>			</a>			<a href="img/gallery/2014 slides/slide-05.JPG" title="slide-05.JPG" data-gallery>				<div><img src="img/gallery/2014 slides/thumbnails/slide-05.JPG" alt="slide-05.JPG" class="img-responsive"></div>			</a>			<a href="img/gallery/2014 slides/slide-06.JPG" title="slide-06.JPG" data-gallery>				<div><img src="img/gallery/2014 slides/thumbnails/slide-06.JPG" alt="slide-06.JPG" class="img-responsive"></div>			</a>			<a href="img/gallery/2014 slides/slide-07.JPG" title="slide-07.JPG" data-gallery>				<div><img src="img/gallery/2014 slides/thumbnails/slide-07.JPG" alt="slide-07.JPG" class="img-responsive"></div>			</a>			<a href="img/gallery/2014 slides/slide-08.JPG" title="slide-08.JPG" data-gallery>				<div><img src="img/gallery/2014 slides/thumbnails/slide-08.JPG" alt="slide-08.JPG" class="img-responsive"></div>			</a>			<a href="img/gallery/2014 slides/slide-09.JPG" title="slide-09.JPG" data-gallery>				<div><img src="img/gallery/2014 slides/thumbnails/slide-09.JPG" alt="slide-09.JPG" class="img-responsive"></div>			</a>			<a href="img/gallery/2014 slides/slide-10.JPG" title="slide-10.JPG" data-gallery>				<div><img src="img/gallery/2014 slides/thumbnails/slide-10.JPG" alt="slide-10.JPG" class="img-responsive"></div>			</a>			<a href="img/gallery/2014 slides/slide-11.JPG" title="slide-11.JPG" data-gallery>				<div><img src="img/gallery/2014 slides/thumbnails/slide-11.JPG" alt="slide-11.JPG" class="img-responsive"></div>			</a>			<a href="img/gallery/2014 slides/slide-12.JPG" title="slide-12.JPG" data-gallery>				<div><img src="img/gallery/2014 slides/thumbnails/slide-12.JPG" alt="slide-12.JPG" class="img-responsive"></div>			</a>			<a href="img/gallery/2014 slides/slide-13.JPG" title="slide-13.JPG" data-gallery>				<div><img src="img/gallery/2014 slides/thumbnails/slide-13.JPG" alt="slide-13.JPG" class="img-responsive"></div>			</a>			<a href="img/gallery/2014 slides/slide-14.JPG" title="slide-14.JPG" data-gallery>				<div><img src="img/gallery/2014 slides/thumbnails/slide-14.JPG" alt="slide-14.JPG" class="img-responsive"></div>			</a>			<a href="img/gallery/2014 slides/slide-15.JPG" title="slide-15.JPG" data-gallery>				<div><img src="img/gallery/2014 slides/thumbnails/slide-15.JPG" alt="slide-15.JPG" class="img-responsive"></div>			</a>			<a href="img/gallery/2014 slides/slide-16.JPG" title="slide-16.JPG" data-gallery>				<div><img src="img/gallery/2014 slides/thumbnails/slide-16.JPG" alt="slide-16.JPG" class="img-responsive"></div>			</a>
			</div>
		</div>
	</div>
</div>
<!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script-->
<script src="js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>