
			<div id="index">
				{{slides-bar default_slides="[\"img/sf_tour.jpeg\"]"}}
				<div class="center">
					<div class="left">
						<a href="north_america_2017">
							<img src="img/news/north_america_2017/psalm23_thumbnail.jpeg" class="lazy square-poster"/>
							<div style="display:block;">
								<p style="display:inline;" class="title-small">牧我一生聚會</p>
								<div style="float:right;width:110px;" class="divider">
								</div>
							</div>
						</a>
					</div>
					<div class="left">
						<a href="north_america_2017">
							<img src="img/news/north_america_2017/golden_song_thumbnail.jpeg" class="lazy square-poster"/>
							<div style="display:block;">
								<p style="display:inline;" class="title-small">ACM 齊唱金曲培靈佈道夜</p>
								<div style="float:right;width:30px;" class="divider">
								</div>
							</div>
						</a>
					</div>
					<div class="left">
						<a href="north_america_2017">
							<img src="img/news/north_america_2017/training_thumbnail.png" class="lazy square-poster"/>
							<div style="display:block;">
								<p style="display:inline;" class="title-small">敬拜工作坊</p>
								<div style="float:right;width:130px;" class="divider">
								</div>
							</div>
						</a>
					</div>
					<div class="left">
						<a href="north_america_2017">
							<img src="img/news/north_america_2017/holy_thumbnail.png" class="lazy square-poster"/>
							<div style="display:block;">
								<p style="display:inline;" class="title-small">永約的神 － 聖經與聖地講座</p>
								<div style="float:right;width:10px;" class="divider">
								</div>
							</div>
						</a>
					</div>
				</div>
				
				<div class="row text-center">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/68M2RKv87uc" frameborder="0" allowfullscreen></iframe>
				</div>

				<div class="row text-center">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/AqT5ebsp41Q" frameborder="0" allowfullscreen></iframe>
				</div>

				<div style="width:100%;" class="divider block">
				</div>
			</div>

