
			<div id="index">
				{{slides-bar default_slides=(arr "img/sf_tour.jpeg") width="648" height="250"}}
				<div class="center">
					{{#flyer-icon expanded="img/news/flyer-LVCBC-Hi.jpg" img="img/news/CBC-star.png" class="rect-poster left"}}
					{{/flyer-icon}}
					{{#flyer-icon expanded="img/news/flyer-FECSG-Hi.jpg" img="img/news/FEC-star.png" class="rect-poster left"}}
					{{/flyer-icon}}
					{{#flyer-icon expanded="img/news/flyer-CUMC-Hi.jpg" img="img/news/CUMC-star.png" class="rect-poster left"}}
					{{/flyer-icon}}
				</div>
				
				<div class="row text-center">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/lJ4uFco3wMU" frameborder="0" allowfullscreen></iframe>
				</div>

				<div class="row text-center">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/AqT5ebsp41Q" frameborder="0" allowfullscreen></iframe>
				</div>

				<div style="width:100%;" class="divider block">
				</div>
			</div>
<!--?php include('../modal.html'); ?-->
{{flyer-modal}}
