
			<div id="index">
				{{slides-bar default_slides=(arr 
				 "img/slideshow/slide-17.jpg" 
				 "img/slideshow/slide-18.jpg"
				 "img/slideshow/slide-19.jpg"
				 "img/slideshow/slide-20.jpg" 
				 "img/slideshow/slide-21.jpg"
				 "img/slideshow/slide-22.jpg"
				 "img/slideshow/slide-23.jpg" 
				 "img/slideshow/slide-24.jpg"
				 "img/slideshow/slide-25.jpg"
				 "img/slideshow/slide-26.jpg" 
				 "img/slideshow/slide-27.jpg"
				 "img/slideshow/slide-28.jpg"
				 "img/slideshow/slide-29.jpg" 
				 "img/slideshow/slide-30.jpg"
				 "img/slideshow/slide-31.jpg"
				 "img/slideshow/slide-32.jpg" 
				 "img/slideshow/slide-33.jpg"
				 "img/slideshow/slide-34.jpg"
				 "img/slideshow/slide-35.jpg"
				 "img/slideshow/slide-36.jpg" 
				 "img/slideshow/slide-37.jpg"
				 "img/slideshow/slide-38.jpg"
				 "img/slideshow/slide-39.jpg" 
				 "img/slideshow/slide-40.jpg"
				 "img/slideshow/slide-41.jpg"
				 "img/slideshow/slide-42.jpg"
				 ) width="648" height="250"}}
				<div class="center">
					<table>
						<tr>
						<td>
							{{#flyer-icon expanded="img/news/flyer-LVCBC-Hi.jpg" img="img/news/CBC-star.png" class="rect-poster left"}}
							{{/flyer-icon}}
						</td>
						<td>
							{{#flyer-icon expanded="img/news/flyer-FECSG-Hi.jpg" img="img/news/FEC-star.png" class="rect-poster left"}}
							{{/flyer-icon}}
						</td>
						<td>
							{{#flyer-icon expanded="img/news/flyer-CUMC-Hi.jpg" img="img/news/CUMC-star.png" class="rect-poster left"}}
							{{/flyer-icon}}
						</td>
						</tr>
					</table>
				</div>
				
				<div class="row text-center">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/lJ4uFco3wMU" frameborder="0" allowfullscreen></iframe>
				</div>

				<div class="row text-center">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/AqT5ebsp41Q" frameborder="0" allowfullscreen></iframe>
				</div>

				<div style="width:100%;" class="divider block">
				</div>
			</div>
<!--?php include('../modal.html'); ?-->
{{flyer-modal}}
