<div class="text" style="width:80%;display:inline; float: left; margin-top:50px; margin-left:50px;">
	<p class="header">ACM 齊唱兒歌DVD</p>
</div>

<div class="text-center">
	<div class="center">
	
		<div class="left">
							 
			<p><a href="../img/products/kids_dvd/kids_dvd_Fullcover.jpg"><img src="../img/products/kids_dvd/kids_dvd_Fullcover.jpg" alt="kids_dvd_Fullcover" width="300" height="432"></a></p>
		</div>
		<div class="left text-left">
			<p>收錄了全新製作的音樂錄像共10首，包括《羊咩咩》、《歡笑感恩》、<br>
			由ACM兒童詩班、ACM Teens、及歷屆小小敬拜者暑期聖經班學員一同錄製。</p>
			<div>
			集合歡笑與感動，跟小孩子一起，在敬拜、感恩的歌聲中，你也能與親友分享福音的喜樂。<p></p>
			<p>收錄音樂錄像包括：<br>
			ACM小天使之歌 (立志)<br>
			羊咩咩 (教導)<br>
			讚美祢千萬句 (讚美)<br>
			向耶穌祈求 (禱告)<br>
			讚美主偉大 (讚美)<br>
			不得了 (創造)<br>
			Praise You Everyday (讚美)<br>
			歡笑感恩 (讚美)<br>
			腳印 (立志)<br>
			小小敬拜者 (立志)<br>
			</p></div>
			<p class="header">現正有售</p>
		</div>
	</div><!--  end center -->
	<div class="block">
		<p><a href="../img/products/kids_dvd/DVD-BOOKLET_cs5revised-06-01.jpg"><img class="aligncenter size-full wp-image-4013" src="../img/products/kids_dvd/DVD-BOOKLET_cs5revised-06-01.jpg" alt="DVD BOOKLET_cs5revised 06-01" width="900" height="637"></a></p>
		<p><a href="../img/products/kids_dvd/DVD-BOOKLET_cs5revised-06-02.jpg"><img class="aligncenter size-full wp-image-4014" src="../img/products/kids_dvd/DVD-BOOKLET_cs5revised-06-02.jpg" alt="DVD BOOKLET_cs5revised 06-02" width="900" height="637"></a></p>
		<p><a href="../img/products/kids_dvd/DVD-BOOKLET_cs5revised-06-03.jpg"><img class="aligncenter size-full wp-image-4015" src="../img/products/kids_dvd/DVD-BOOKLET_cs5revised-06-03.jpg" alt="DVD BOOKLET_cs5revised 06-03" width="900" height="637"></a></p>
		<p><a href="../img/products/kids_dvd/leaflet-back-revised-02-01.jpg"><img class="aligncenter size-full wp-image-4019" src="../img/products/kids_dvd/leaflet-back-revised-02-01.jpg" alt="leaflet back revised 02-01" width="900" height="615"></a></p>
	</div>
</div>
