<div id="news">
    <div class="text" style="width:80%;display:inline; float: left; margin-top:50px; margin-left:50px;">
		<p class="header">最新動向</p>
	</div>
	<div class="text-center">
		<div class="center">
		
			<div class="center">
					{{#flyer-icon expanded="img/news/flyer-FECSG-Lo.jpg" img="img/news/flyer-FECSG-Hi.jpg" class="rect-poster left"}}
					{{/flyer-icon}}
			</div>
		</div><!--  end center -->
	</div>
</div>
<!--?php include('../modal.html'); ?-->
{{flyer-modal}}

