<div id="news">
    <div class="text" style="width:80%;display:inline; float: left; margin-top:50px; margin-left:50px;">
		<p class="header">最新動向</p>
	</div>
	<div class="wide text-center">
		<div class="center">
			<div class="left">
				<a class="pop" expanded="img/news/north_america_2017/2017-psalms23-la-flyer.png">
					<img src="img/news/north_america_2017/psalm23_thumbnail.jpeg" class="square-poster left" />
					<div style="display:block;">
						<p style="display:inline;" class="title-small">牧我一生聚會</p>
						<div style="float:right;width:110px;" class="divider">
						</div>
					</div>
				</a>
			</div>
			<div class="left">
				<a class="pop" expanded="img/news/north_america_2017/2017-golden-songs-flyer.png">
					<img src="img/news/north_america_2017/golden_song_thumbnail.jpeg" class="square-poster"/>
					<div style="display:block;">
						<p style="display:inline;" class="title-small">ACM 齊唱金曲培靈佈道夜</p>
						<div style="float:right;width:30px;" class="divider">
						</div>
					</div>
				</a>
			</div>
			<div class="left">
				<a class="pop" expanded="img/news/north_america_2017/2017-training-lacac-flyer.png">
					<img src="img/news/north_america_2017/training_thumbnail.png" class="square-poster"/>
					<div style="display:block;">
						<p style="display:inline;" class="title-small">敬拜工作坊</p>
						<div style="float:right;width:130px;" class="divider">
						</div>
					</div>
				</a>
			</div>
			<div class="left">
				<a class="pop" expanded="img/news/north_america_2017/2017-bible-and-holyland-flyer.png">
					<img src="img/news/north_america_2017/holy_thumbnail.png" class="square-poster"/>
					<div style="display:block;">
						<p style="display:inline;" class="title-small">永約的神 － 聖經與聖地講座</p>
						<div style="float:right;width:10px;" class="divider">
						</div>
					</div>
				</a>
			</div>
		</div>
		{{flyer-modal}}
	</div>
</div>
