<div id="news">
    <div class="text" style="width:80%;display:inline; float: left; margin-top:50px; margin-left:50px;">
		<p class="header">最新動向</p>
	</div>
	<div class="wide text-center">
		<div class="center">
			<div class="left">
				{{#link-to "2017-choir-retreat"}}
					<img src="img/news/2017-choir-retreat/2017-choir-retreat-banner.png" class="lazy horizontal-poster"/>
					<div style="display:block;">
						<div style="float:left;width:130px;" class="divider"></div>
						<p style="display:inline;" class="title-small">2017詩班退修會</p>
						<div style="float:right;width:130px;" class="divider"></div>
					</div>
				{{/link-to}}
			</div>
		</div>
		{{flyer-modal}}
	</div>
</div>
