<div id="products">
	<div class="text" style="width:80%;display:inline; float: left; margin-top:50px; margin-left:50px;">
		<p class="header">ACM 北美 2017</p>
	</div>
	
	<div class="text-center">
		<div class="center">
		
			<div class="center">
				<div class="left">
					<a class="pop" expanded="../img/news/north_america_2017/2017-psalms23-la-flyer.png">
						<img src="../img/news/north_america_2017/2017-psalms23-la-flyer.png" class="rect-poster left" />
					</a>
				</div>
				<div class="left">
					<a class="pop" expanded="../img/news/north_america_2017/2017-golden-songs-flyer.png">
						<img src="../img/news/north_america_2017/2017-golden-songs-flyer.png" class="rect-poster left" />
					</a>
				</div>
				<div class="left">
					<a class="pop" expanded="../img/news/north_america_2017/2017-training-lacac-flyer.png">
						<img src="../img/news/north_america_2017/2017-training-lacac-flyer.png" class="rect-poster left" />
					</a>
				</div>
				<div class="left">
					<a class="pop" expanded="../img/news/north_america_2017/2017-bible-and-holyland-flyer.png">
						<img src="../img/news/north_america_2017/2017-bible-and-holyland-flyer.png" class="rect-poster left" />
					</a>
				</div>
			</div>



			<div style="width:70%;" class="divider block center">
			</div>
			
			<div class="text-left" style="max-width: 900px;">
				<div>
					ACM 北美巡迴 2017 團隊將於 10月2日出發， 是次敬拜佈道將維持兩個月， 走訪的地方包括加拿大和美國西岸， 當中的城市有： 溫哥華，卡加利，艾德蒙頓、 洛杉磯及聖地亞哥  (詳情請參看 《各地聚會一覽表》 及 《各聚會之海報》)。 <br>
					若你是當地華人， 我們非常盼望能在聚會中跟你一起敬拜， 假若你認識當地朋友 (無論信徒、非信徒)， 更盼望你願意推介當中不同敬拜佈道聚會給他們， 為他們禱告， 願意他們能在聚會中認識、 委身於這位牧養我們一生的神。<br>
					請大家也為我們整個行程及各隊員代禱， 願我們身心靈都以最佳狀態來讚美傳揚上帝的愛， 感謝大家愛心守望， 願神加倍賜福與你！
				</div>
			</div>

			<div style="width:70%;" class="divider block center">
			</div>
			
		</div><!--  end center -->
	</div>
</div><!-- end wide -->
<!--?php include('../modal.html'); ?-->
{{flyer-modal}}
