<div id="products">
    <div class="text" style="width:80%;display:inline; float: left; margin-top:50px; margin-left:50px;">
		<p class="header">音樂產品</p>
	</div>
	<div class="wide text-center">
		<div class="center">
			<div class="left">
				{{#link-to "kids_dvd"}}<img src="img/products/kids_song_dvd_thumbnail.png" class="square-poster left" />{{/link-to}}
				<div style="display:block;">
					<p style="display:inline;" class="title-small">齊唱兒歌 DVD</p>
					<div style="float:right;width:120px;" class="divider">
					</div>
				</div>
			</div>
			<div class="left">
				<img src="img/products/shepherd_thumbnail.png" class="square-poster"/>
				<div style="display:block;">
					<p style="display:inline;" class="title-small">牧我一生聚會</p>
					<div style="float:right;width:130px;" class="divider">
					</div>
				</div>
			</div>
			<div class="left">
				<img src="img/products/orchestra_thumbnail.png" class="square-poster"/>
				<div style="display:block;">
					<p style="display:inline;" class="title-small">齊唱金曲培靈聚會</p>
					<div style="float:right;width:100px;" class="divider">
					</div>
				</div>
			</div>
		</div>
		<div class="center">
			<div class="left">
				<img src="img/products/back_to_home_thumbnail.png" class="square-poster left" />
				<div style="display:block;">
					<p style="display:inline;" class="title-small">回到這個家</p>
					<div style="float:right;width:150px;" class="divider">
					</div>
				</div>
			</div>
			<div class="left">
				<img src="img/products/ruth_reset_thumbnail.png" class="square-poster"/>
				<div style="display:block;">
					<p style="display:inline;" class="title-small">曾路得 - 重新設定</p>
					<div style="float:right;width:100px;" class="divider">
					</div>
				</div>
			</div>
			<div class="left">
				<img src="img/products/care_about_you_thunbmail.png" class="square-poster"/>
				<div style="display:block;">
					<p style="display:inline;" class="title-small">在乎你 - 願你快樂</p>
					<div style="float:right;width:100px;" class="divider">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
