<div id="faithdeclaration">
    <div class="text" style="width:80%;display:inline; float: left; margin-top:50px; margin-left:50px;">
        <p class="header">信仰宣言</p>
        <p class="title">我們相信：</p>
        <ul>
            <li><b>神是自有永有、創造人類及萬物的獨一真神。</b><b></b></li>
            <li><b>聖父、聖子、聖靈是三位一體的神。</b><b></b></li>
            <li><b>神的獨生子，主耶穌基督，因著聖靈感孕，由童貞女所生，祂為我們受苦受難，用寶血救贖失喪的罪人，死後第三天復活，升天，坐在全能父右邊，並將再降臨審判活人與死人。</b><b></b></li>
            <li><b>不是用自己的力量信靠主耶穌基督，乃是聖靈用福音宣召我們，用恩光照亮我們的心，使我們在真道上成聖。</b><b></b></li>
            <li><b>作為基督身體的教會，是由重生得救並受洗歸入基督的人組成的，當中以耶穌基督為首，信徒們要彼此相愛作見證。</b><b></b></li>
            <li><b>今生每天都有神的帶領、供應及赦罪，直至末日祂叫活人及死人都復活，又賜永生給一切屬耶穌基督的人。</b><b></b></li>
            <li><b>聖經是神所默示的，是信仰的確據。</b><b> </b></li>
            <li><b>神喜愛人親近祂、事奉祂及頌讚祂。</b><b></b></li>
            <li><b>音樂是神賜給人的福份，祂喜悅我們以音樂來傳揚及敬拜讚美祂。</b><b> </b></li>
        </ul>
    </div>
</div>