<div id="history">
    <div class="text" style="width:80%;display:inline; float: left; margin-top:50px; margin-left:50px;">
        <p class="header">發展歷史</p>

        <div style="font-size: 0.8em;">
            <p>&nbsp;</p>
            <p>1982</p>
            <p>翁慧韻、吳秉堅，抱著一個創作夢──創作具本地特色的廣東話基督教詩歌；在突破機構的協助下，《齊唱新歌第一集》正式推出，為本地基督教帶來一股新的音樂潮流。</p>
            <p>&nbsp;</p>
            <p>1983</p>
            <p>成立機構的異象由81年開始蘊釀，83年陳芳榮即與翁慧韻、吳秉堅成立香港基督徒音樂協會（簡稱ACM），舉行異象分享會，吳秉堅及翁慧韻將《齊唱新歌》注入機構，ACM首張出版的專輯是《齊唱新歌第三集》。並開始機構成立以來首次北美巡迴佈道。同年曾路得、鄧惠欣加盟。</p>
            <p>&nbsp;</p>
            <p>1984</p>
            <p>再次舉辦ACM異象分享會。其後舉行齊唱新歌音樂會，反應空前熱烈。同年推出《齊唱新歌第四集》，並於本年再舉行北美巡迴佈道。</p>
            <p>&nbsp;</p>
            <p>1985《齊唱新歌第五集》推出，並舉辦85齊唱新歌歌唱比賽以及ACM分享晚會。並連續第三年推展北美巡迴佈道。</p>
            <p>&nbsp;</p>
            <p>1986</p>
            <p>經典基督教組合『900列車』及『赤道』正式組成。『赤道』的歌曲更破天荒打入本地流行樂壇的流行榜，為本地流行樂壇帶來新的聲音。《齊唱新歌第六集》正式推出，同年亦舉辦及參與多項活動：異象分享會、《赤道有情天地》音樂會以及華福之夜等。第四年舉辦北美巡迴佈道。</p>
            <p>&nbsp;</p>
            <p>1987 於澳門舉辦佈道會，服侍澳門的弟兄姊妹；並參與《基督教文化節》。</p>
            <p>&nbsp;</p>
            <p>1988《齊唱新歌第七集》推出。同年舉行異象分享會、《Lily and Larry in Concert》、《出擊行動》分享會。</p>
            <p>&nbsp;</p>
            <p>1989 舉辦《齊唱程未了》音樂會，同年推出《齊唱新歌第八集》。</p>
            <p>&nbsp;</p>
            <p>1990《齊唱新歌第九集》推出，並舉行小型音樂會。同年舉辦北美巡迴佈道。</p>
            <p>&nbsp;</p>
            <p>1991 舉行北美巡迴佈道，同年浸信會傳播中心為《齊唱》出版發行《齊唱OK》音樂伴唱錄影帶，開創基督教先河。</p>
            <p>&nbsp;</p>
            <p>1992 舉行《齊唱92音樂分享晚會》以及《92齊唱新歌歌唱大賽》。</p>
            <p>&nbsp;</p>
            <p>1993</p>
            <p>《齊唱新歌第十集》推出，並繼續舉行北美巡迴佈道。</p>
            <p>&nbsp;</p>
            <p>1994</p>
            <p>首次到訪馬來西亞舉辦多場佈道會。同年應『香港聯合佈道事工』的邀請，參與《誰主明天》佈道會的節目工作及創作大會主題曲。同年舉行首屆音樂營。</p>
            <p>&nbsp;</p>
            <p>1995</p>
            <p>多場音樂聚會，包括《我願意給你》音樂會、《不一樣的愛》佈道會、《名家雅敍》佈道會、《福音震濠江》全澳門佈道會以及《齊唱金曲夜》等。舉行第二屆音樂營《一切由音樂開始》以及推展北美巡迴佈道。同年推出《齊唱新歌第十一集》，另一隊ACM組合『High way』亦因此而組成。</p>
            <p>&nbsp;</p>
            <p>1996</p>
            <p>ACM與『城市旋律協會』合併，並正式改名為『香港基督徒音樂事工協會』。舉行合併異象分享會、《城市旋律十週年音樂會》、第三屆音樂營《讚美由你開始》等。同年獲邀參與《掌握今天》佈道會的節目工作及創作大會主題曲；並繼續舉行北美巡迴佈道。</p>
            <p>&nbsp;</p>
            <p>1997</p>
            <p>再次應邀參與《97祈福大會》的節目工作及創作大會主題曲《為這地祈福》。同年《齊唱新歌第十二集》推出，並舉辦多場音樂活動，包括：《人生真美》音樂會、《齊唱十五週年音樂巡禮》，《從約旦河到耶利哥》音樂會、第四屆音樂營《創路音樂行》以及推展馬來西亞巡迴佈道。</p>
            <p>&nbsp;</p>
            <p>1998</p>
            <p>舉行中國佈道之旅，當中包括：佛山、潮汕、石岐、三水及增城。同年舉行《起來！高聲唱吧》恩典讚美會，以及首張主題式的敬拜讚美系列──《祢是王》以及同名敬拜讚美會，為本地敬拜讚美事工帶來新衝擊。另有見本地弟兄姊妹對現代敬拜讚美事工的需要，成立『敬拜中心』。</p>
            <p>&nbsp;</p>
            <p>1999</p>
            <p>年初舉行多場《祢是王》敬拜讚美會；同年兩個新的敬拜讚美系列《大祭司》、《來復興我》相繼推出並舉行多場同名主題敬拜讚美會。繼續推行大陸佈道事工及北美佈道事工。第二張敬拜讚美系列《大祭司》專輯發行。</p>
            <p>&nbsp;</p>
            <p>2000</p>
            <p>舉辦首屆《基督教音樂節2000》；為來自世界各地的華人基督徒歌手及組合舉辦多場不同主題的音樂佈道會。同年應邀請參與於新加坡舉行的《世界華人聖樂大會》（CM2000），並同時舉辦馬來西亞巡迴佈道。第三張敬拜讚美系列《來復興我》專輯發行以及舉行同名主題敬拜讚美會。</p>
            <p>&nbsp;</p>
            <p>2001</p>
            <p>舉辦第二屆《基督教音樂節2001》；除舉辦不同主題的音樂會外，更首次踏足紅館舉行兩場《MUSIC ON FIRE》音樂會以及一場《祢是王萬人敬拜讚美會》。其中《祢是王萬人敬拜讚美會》更首度招募千人詩班參與。</p>
            <p>第四張敬拜讚美系列《以利亞──耶和華是神》專輯推出以及舉行同名主題敬拜讚美會。</p>
            <p>&nbsp;</p>
            <p>2002</p>
            <p>本會20週年，於紅館舉行四場音樂聚會《P. O. P. Concert》，當中包括《20週年紀念音樂會》、《聖殿敬拜讚美會》以及《和平之君》音樂會等。</p>
            <p>並再次應邀出席於台北舉行的《世界華人聖樂大會》（CM2002），第五張敬拜讚美系列專輯《和平之君》推出及舉行多場同名主題敬拜讚美會。</p>
            <p>ACM加拿大分會在多倫多正式成立。</p>
            <p>&nbsp;</p>
            <p>2003</p>
            <p>非典型流感疫症爆發，到訪不同地方為各醫務人員舉辦音樂佈道會，並與本地基督徒音樂人聯手創作勵志歌曲《擁抱你》，以基督的愛安慰人心惶惶的社會；同年於伊利沙伯體育館舉行同名主題佈道會。</p>
            <p>&nbsp;</p>
            <p>2004</p>
            <p>第六張敬拜讚美系列《同在的神──以馬內利》專輯推出以及舉行多場同名主題敬拜讚美會。於伊利沙伯體育館舉行了三場《伴你每天音樂會》，同年於伊館與YMCA合辦《送給你》聖誕音樂佈道會；並第三度應邀出席於北美舉行的《世界華人聖樂大會》（CM2004）。</p>
            <p>&nbsp;</p>
            <p>2005</p>
            <p>首度與本港友好基督教音樂機構及教會合作，於伊利沙伯體育館舉行一連三場《敬拜Crossover》音樂會，以及灌錄《敬拜Crossover》專輯。同年ACM兒童詩班正式成立。</p>
            <p>&nbsp;</p>
            <p>2006</p>
            <p>第七張敬拜讚美系列專輯《得勝者》推出以及於伊利沙伯體育館舉行三場《得勝者》敬拜讚美會，同年亦於不同地區舉辦相關聚會。</p>
            <p>&nbsp;</p>
            <p>2007</p>
            <p>小天使兒童詩班首張製作《齊唱兒歌》專輯推出。於伊利沙伯體育館舉行《ACM25週年紀念音樂會》以及《聖殿敬拜讚美會》。同年推出《ACM25週年紀念專輯》。</p>
            <p>&nbsp;</p>
            <p>2008</p>
            <p>同年第八張敬拜讚美系列《我願意》專輯推出並於大學會堂、沙田及北區舉行多場《我願意敬拜讚美會》；舉行首次獨樂樂代理音樂會。同年青少年事工Youth Music Elite（YME）成立，出版YME系列《回到這個家》EP。同年推出《齊唱集──ACM二十五週年紀念合訂本》。</p>
            <p>&nbsp;</p>
            <p>2009</p>
            <p>兒童詩班舉行《真美麗》音樂會，並出版《齊唱兒歌2真美麗》；第九張敬拜讚美系列專輯《錫安城》推出，同年於伊館舉辦同名敬拜讚美會；YME系列《想‧心跳》專輯推出，同年青少年事工於伊館舉辦《追夢少年》敬拜讚美會。</p>
            <p>&nbsp;</p>
            <p>2010</p>
            <p>舉辦以信、望、愛為主題的《傳奇‧追夢‧再說愛》音樂佈道會。值得一提是首次以贈票形式，與超過20間基督教社會福利機構合作，接觸了超過1500人。同年整合事工，將製作工作外判。</p>
            <p>&nbsp;</p>
            <p>2011</p>
            <p>出版《齊唱兒歌3》專輯、舉辦《追夢少年》青少年分區佈道會及《意想不到》分區敬拜讚美會。同年辦公室由觀塘搬遷到新蒲崗。</p>
            <p>&nbsp;</p>
            <p>2012</p>
            <p>舉行ACM 30周年晚宴、周年音樂會、《ACM 30周年歌唱比賽》、《全是你的──國度、權柄、榮耀》敬拜讚美會，籌備第十張敬拜讚美系列同名專輯。</p>
            <p>&nbsp;</p>
            <p>2013</p>
            <p>宣告「愛上帝、愛音樂、愛生命」，全力推動「333 事工計劃」，透過不同音樂事工敬拜天父、廣傳福音、裝備信徒。到訪四川和澳門進行敬拜、樂器和舞蹈培訓課程及公開敬拜讚美聚會。開創「蒙恩女姓敬拜更新」及暑期兒童「小小敬拜者」課程。</p>
            <p>&nbsp;</p>
            <p>2014</p>
            <p>首創於香港文化中心音樂廳，聯同50人編制的大型管弦樂團，與著名基督徒歌手曾路得、陳芳榮、楊淑貞及海唐紅攜手演繹經典齊唱新歌，並製作成《齊唱金曲管弦夜音樂會》雙CD+DVD。闊別多年，再次踏足美加進行巡迴聚會及培訓，也與學校及教會合作「原來我可以成長計劃」，免費教授樂器和生命培育課程。針對現代人心靈需要，開展「在乎你佈道事工系列」，製作佈道工具「在乎你」雙語福音CD，推出了兩張CD—《願你快樂》及《願你聖誕快樂》，收錄國、粵語詩歌和簡短福音信息，並跟「蒙福之旅福音事工」合作，派發及贈送給有需要的本港及國內同胞，而配合福音CD主題多次與教會以及不同群體合作舉辦佈道或培靈聚會。同年，再次舉辦「小小敬拜者」課程，亦開辦《敬拜Master Class日營》，來自不同教會的敬拜隊聚首一堂，彼此交流學習。為配合潮流文化，逐步開拓iTunes市場及網上聽歌平台，如Spotify, Music One和Youtube等，讓ACM歌曲廣傳。</p>
            <p>&nbsp;</p>
            <p>2015 (至8月)</p>
            <p>事隔3年，第十張敬拜讚美系列專輯《牧我一生》推出，以詩篇23篇為藍本，大衛以自己原本為小牧人跟羊的緊密關係，來描述那位一生牧養他的神。我們期待每個信徒能一生以神為牧者，緊緊跟隨、敬拜事奉祂。配合專輯，前後舉辦共5場分區《牧我一生》敬拜讚美培靈音樂會，其中於旺角麥花臣場館舉辦的壓軸聚會，與會者深深經歷主的同在和敬拜的震撼，也配合舉辦《牧我一生的神》聖經講座及延續篇，查考大衛的一生。再次進行美加巡迴聚會及培訓，並針對時局的不安和惶恐，推出第三張「在乎你」雙語佈道CD《願你平安》，同時舉行了《在乎你—願你平安》佈道會，邀請藝人寶佩如分享見證。繼2007年後再次舉辦歌曲創作比賽，共收到超過100首參賽歌曲，當中更不乏曲詞俱佳的作品。隨後定期舉辦《音樂創作放題》活動，旨在凝聚更多具音樂恩賜的弟兄姊妹，提供服侍和訓練的平台，藉以薪火相傳。舉行首次聖地敬拜獻呈之旅，連同54位團友一邊遊歷聖經記載的40多個著名地點，一邊以詩歌敬拜讚美永約的神。 同一時間在洛杉磯成立分會。</p>
        </div>
    </div>
</div>