<div>
    <div class="text" style="width:80%;display:inline; float: left; margin-top:50px; margin-left:50px;">
        <p class="header">關於我們</p>
		<p>ACMLA正式成立於2015年, 每一年我們都與香港ACM合辦大型音樂培靈佈道聚會，盼望透過聚會與本地教會一同合作事奉神，透過聚會讓教會和弟兄姊妹對敬拜讚美有更多的認識，而我們亦盼望彼此學習怎樣用生命影響別人的生命。</p>
		<p>ACMLA本着基督徒身份及信仰，透過音樂，敬拜將人帶到神面前 ， 並以現代基督教音樂，透過不同音樂事工敬拜天父、廣傳福音、裝備信徒。ACMLA 也發揮協會功能，協助其他機構及音樂人推動基督教音樂。</p>
        <p>ACMLA (Association of Christian Music Ministry – Los Angeles) was established in 2015 as a subsidiary of HKACM to host annual evangelical concerts in the Southern California area. Through collaborating and serving with different churches and Christian organizations in Los Angeles, ACMLA aims to help local worship/praise teams advance their technical skill sets and musical knowledge/disciplines. Team members are constantly learning to disciple each other through these close interactions – and to influence and transform lives in the community – one at a time.</p>
		<p>As a music crusade that believes in the Statement of Faith, ACMLA uses different musical channels (i.e. via contemporary music and various ministries) to draw people to God; help spread HIS scripture and love; and to equip fellow Christians with enhanced knowledge and skills. </p>
		<p>Working with local organizations and musicians, ACMLA also serves as a coordinator and catalyst to help promote Christian music in the bigger Southern California community.</p>
    </div>
</div>
