<div id="missiondeclaration">
    <div class="text" style="width:80%;display:inline; float: left; margin-top:50px; margin-left:50px;">
        <p class="header">使命宣言</p>
        <p>ACMLA 本着基督徒身份及信仰，透過音樂，敬拜將人帶到神面前 ， 並以現代基督教音樂，透過不同音樂事工敬拜天父、廣傳福音、裝備信徒。ACMLA 也發揮協會功能，協助其他機構及音樂人推動基督教音樂。</p>
        <p></p>
        <p class="header">會訓</p>
        <p class="title">歌羅西書 1:28</p>
        <p>1:28 我 們 傳 揚 他 、 是 用 諸 般 的 智 慧 、 勸 戒 各 人 、 教 導 各 人 ． 要 把 各 人 在 基 督 裡 完 完 全 全 的 引 到 神 面 前 ．</p>
    </div>
</div>