<div id="orgchart">
    <div class="text" style="width:80%;display:inline; float: left; margin-top:50px; margin-left:50px;">
        <div style="width:320px;display:inline; float: left;">
            <p class="header">ACMLA 組織架構</p>
            <p>事工總監: Patrick Leung 梁斌豪弟兄</p>
            <p>事工部主管: Albert Law 羅國輝弟兄</p>
            <p>行政主管: Esther Hui 許家頴姊妹</p>
            <p>關懷主任: Gigi Chan 陳珮芝姊妹</p>
        </div>
        <div style="width:380px;display:inline; float: left; margin-left:30px; font-size: 0.9em;">
            <p class="title">崗位指引：</p>
            <p>事工總監－機構總負責人, 因為機構建立隊工團隊, 制定策略, 決策及支援每項事工,從而與奉獻者, 教會, 義工等建立深厚密切關係</p>
            <p>事工主任－協助事工總監支援每項事工</p>
            <p>行政主任－制定系統處理機構行政事務，如會計、人力資源、財政等</p>
            <p>關懷主任－建立代禱組為機構祈禱, 關懷機構同工及義工</p>
        </div>
    </div>
    <!--div class="wide">
        <img style="display:inline; height:500px; margin-top:50px; margin-left:50px;" src="img/orgchart-left.png"/>
        <img style="display:inline; height:400px; margin-top:100px; margin-left:50px;" src="img/orgchart-right.png"/>
    </div-->
</div>